.card{
    width: 98% !important;
    margin-left: 2% !important;
    border-radius: 0px;
    margin: -6% auto;
    background-color: #373d47;
    align-items: center;
}
.text-title{
text-align: center;
color: #fff;
font-family: lato;
font-size: 50px;
}
.text-inner{
color:#fff;
font-family: lato;
font-size: 20px;
padding: 2px 24px;
}