.card{
    
    width: 94%!important;
    margin-left: 4%!important;
    border-radius: 0px;
    background-color: #212529;
    align-items: center;
}
.page-title{
    margin-bottom: .75rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: lato;
    font-weight: 700;
    font-size: 37px;
    
}
.page-inner{
    font-family: lato;
    color: #fff;
    font-size: 20px;
    margin: 1px;
    padding: 2px 18px;
}