
  <app-pages [pageContent]="page1"></app-pages>

  <app-articles [articleContent]="article"  >
     
  </app-articles>
  <app-blocks [blockContent]= "block"></app-blocks>
  
  <div class="card-body" >
      <app-text [textContent]= "mainComponent"></app-text>
  </div> 
  <div class="card-body" >
        <app-input-text [inputTextContent] ="component" ></app-input-text>      
  </div> 

  
  
  
  <div class="card-body" >
      <app-graphic [graphicsContent]= "components"></app-graphic>
  
  </div>



